body {
  background-image: url("/images/bg.jpg");
    counter-reset: my-awesome-counter;

}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.nav-center {
    margin:0;
    float:none;
}

.navbar-inner{
  margin:20px;
    text-align:center;
}

ol{  
  list-style: none; /* Remove the default numbering */
  *list-style: decimal; /* For IE6 / 7 use the default numbering*/ 
  font: 70px 'trebuchet MS', 'lucida sans';  
  padding: 10;   
  text-shadow: 0 2px 0 rgba(255,255,255,.5); 
  width:200px; 
  margin-top: 20px;
  margin-bottom:20px;
  }  
 
ol ol{
  width:200px;  
  margin: 0 0 0 2em; 
  }  
 
 .rounded a{
  color: #FFFFFF;
    text-decoration: none;
      font: 20px 'trebuchet MS', 'lucida sans';  

 }
.rounded li{  
  position: relative;  
  display: block;  
  padding: .4em .4em .4em 2em;  
  *padding: .4em;  
  margin: 9px 18px;  
  background: #68d7fe;  
  color: #444;  
  text-decoration: none; 
  text-align: center; 
  border-radius: .3em; 
  box-shadow:0 1px 1px #999;
  height: 50px;
  }  
 
.rounded li:hover{  
  background:#29c9fe; 
  }  
 
.rounded li:hover:before{  
  transform: rotate(360deg);  
  }  
 
.rounded li:before{  
  content: counter(my-awesome-counter);
  counter-increment:my-awesome-counter;  
  position: absolute;  
  left: -1.3em; 
  margin-top: -1.3em; 
  top: 54%;    
  background:#68d7fe;  
  height: 3.1em;  
  width: 3.1em;  
  line-height: 2em;  
  border: .2em solid #fff;  
  text-align: left;  
  font-weight: bold;  
  border-radius: .5em;  
  box-shadow:0 0px 2px #7dc918;
  text-align: center;
  }

  .rounded li:before{    
  border-radius: 3em;  
  }

.formStyle {
   background: rgba(0, 0, 0, 0.1); 
   padding: 30px;
   
}

.form-signin-heading{
margin-bottom: 20px;
color: black;
  font: 30px 'trebuchet MS', 'lucida sans';  
  text-shadow: 0 2px 0 rgba(255,255,255,.5); 



}
